header {
  width: auto;
  margin: 0;
  padding: 0 1.5em;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  box-shadow: 0 5px 20px var(--black);
}
section {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
h1 {
  font-family: "Rantera";
  font-size: 2.5em;
  padding: 0 0.5em;
  margin: 0.4em 0;
}
img[src="../logo.png"] {
  width: 5em;
}
.navigation {
  width: 50%;
}
ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
li {
  list-style-type: none;
  text-decoration: none;
  font-family: "Rantera";
  font-weight: bold;
  color: var(--black);
  transition: 0.4s;
}
a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.8em;
  transition: 0.4s;
}

/* Hover animations */
li:hover {
  transform: scale(1.15);
  color: var(--red);
}
