#bigContainer {
  background: url(../assets/img/infos/bg-heal-js.webp) fixed no-repeat
    center/cover;
  height: auto;
}

/* Intro */

.healContainer {
  width: 90%;
  height: fit-content;
  padding-bottom: 5em;
  margin: 25vh auto 20vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background: var(--white);
  border-radius: 25px;
  box-shadow: var(--shadow);
}
.healContainer h2 {
  width: 100%;
  height: fit-content;
  font-size: 5em;
  font-family: "Rantera";
  text-align: center;
  color: var(--black);
  font-weight: lighter;
}
.healContainer h2 strong {
  font-weight: 900;
  color: var(--red);
}
.healContainer p {
  color: var(--black);
  font-family: "Candara";
  font-size: 2em;
  font-weight: lighter;
  width: 70%;
  text-align: justify;
}
.healContainer p span {
  color: var(--red);
  font-weight: 600;
  font-family: "Almendra";
}

/* Articles */

.articles {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
  backdrop-filter: brightness(0.33);
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  box-shadow: 0 5px 10px var(--black);
}
.articles article {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 2.5em auto 2.5em;
}
.articles h3 {
  width: 100%;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 2em;
  color: var(--white);
  font-family: "Rantera";
}
.articles p {
  width: 35%;
  text-align: justify;
  color: var(--white);
  font-family: "Candara";
  font-weight: lighter;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  line-height: 2em;
}

.secondArticle a {
  font-size: 1.2em;
  color: var(--blue);
  font-family: "Candara";
  transition: 0.4s;
}
.secondArticle a:hover {
  color: var(--red);
  font-size: 1.3em;
  font-weight: bold;
}
.first,
.second,
.third,
.fourth {
  width: 4em;
  height: 4em;
  margin-top: 1.5em;
}
.first {
  background: url(../assets/icons/numero-1.png) no-repeat center/cover;
}
.second {
  background: url(../assets/icons/numero-2.png) no-repeat center/cover;
}
.third {
  background: url(../assets/icons/numero-3.png) no-repeat center/cover;
}
.fourth {
  background: url(../assets/icons/numero-4.png) no-repeat center/cover;
}
.coverPicture {
  width: 55%;
  height: 50vh;
  border-radius: 15px;
  background: url(../assets/img/infos/wrapping-tattoo.webp) no-repeat
    center/cover;
  box-shadow: var(--shadow);
}
.washPicture {
  width: 55%;
  height: 50vh;
  border-radius: 15px;
  background: url(../assets/img/infos/washing.webp) no-repeat center/cover;
  box-shadow: var(--shadow);
}
.hydroPicture {
  width: 55%;
  height: 50vh;
  border-radius: 15px;
  background: url(../assets/img/infos/aftercare.webp) no-repeat center/cover;
  box-shadow: var(--shadow);
}
.soleilPicture {
  width: 55%;
  height: 50vh;
  border-radius: 15px;
  background: url(../assets/img/infos/pool.webp) no-repeat center/cover;
  box-shadow: var(--shadow);
}

/* Bas de page */

.parapluie {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parapluie h3 {
  padding: 0;
  margin: 0;
  font-size: 6em;
  font-family: "Rantera";
  font-weight: 900;
  color: var(--yellow);
  text-shadow: var(--shadow);
}
.advice {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  backdrop-filter: brightness(0.33);
  border-top: 3px solid var(--white);
}
.advice p {
  width: 50%;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Candara";
  line-height: 2em;
  margin: 1.5em 0;
  text-align: justify;
}
.advice h3 {
  font-family: "Rantera";
  font-size: 4em;
  color: var(--white);
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
p.pain {
  color: var(--yellow);
  font-weight: 600;
}
