main {
  margin: 0;
  padding: 0;
  height: auto;
}
.welcome {
  background: url(../assets/img/arm.webp) no-repeat center/cover;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: flex-start;
}
h2 {
  color: var(--white);
  font-size: 4em;
  line-height: 2em;
  font-family: "Almendra";
  font-weight: lighter;
  margin: 5% 10%;
}
strong {
  font-weight: bold;
  font-family: "Rantera";
}
span {
  font-weight: bold;
}

/* Splitview */

.splitview {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.panel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.panel .content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: var(--white);
}
.panel .description {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.OriginalPicture {
  background: url(../assets/img/artist.webp) no-repeat center/cover;
}
.afterPicture {
  background: url(../assets/img/sketch.webp) no-repeat center/cover;
}
.OriginalPicture,
.afterPicture {
  box-shadow: 0 0 20px var(--black);
  width: 40%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom {
  background-color: var(--black);
  z-index: 1;
}
.bottom .description {
  right: 5%;
}
.top {
  background-color: var(--darkBlue);
  z-index: 2;
  width: 50vw;
}
.top .description {
  left: 5%;
}
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--white);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}
.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}
.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}
