@import "./header.css";
@import "./footer.css";

main {
  margin: 0;
  padding: 0;
  height: auto;
}
.splitview {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/img/oldSchool.webp) no-repeat center/cover;
}
.description span {
  font-family: "Rantera";
  position: relative;
  font-weight: 400;
  padding: 0;
  color: var(--white);
  font-size: 6em;
  animation: bascule 8s ease infinite;
}
.description {
  position: absolute;
  top: 50%;
  right: 10%;
  width: fit-content;
  height: 6em;
  padding: 1em;
  transform: translateY(-50%);
  display: inline-block;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;

  border-bottom: 2px solid var(--white);
}
@keyframes bascule {
  0% {
    top: 0;
  }
  28% {
    top: 0;
  }
  33% {
    top: -120%;
  }
  61% {
    top: -120%;
  }
  66% {
    top: -240%;
  }
  76% {
    top: -240%;
  }
  95% {
    top: -240%;
  }
  100% {
    top: 0;
  }
}
