@import "./normalize.css";
@import "./Header.css";
@import "./variables.css";
@import "./home.css";
@font-face {
  font-family: "Rantera", "Vintage", "Almendra", verdana;
  src: local("Rantera.otf"), url(../assets/fonts/Rantera.otf);
  src: local("Vintage.otf"), url(../assets/fonts/Vintage.otf);
  src: local("Almendra.otf"), url(../assets/fonts/Almendra.otf);
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  width: auto;
}
