/* Colors */

:root {
  --black: #0e110f;
  --darkGreen: #001e1d;
  --bgHeader: linear-gradient(
    126deg,
    rgba(39, 28, 25, 1) 0%,
    rgba(85, 66, 61, 1) 100%
  );
  --red: hsl(351, 70%, 38%);
  --Home: linear-gradient(
    135deg,
    rgba(0, 30, 29, 1) 0%,
    rgba(26, 52, 51, 1) 100%
  );
  --blue: hsl(192, 55%, 50%);
  --white: #e8e3e6;
  --yellow: #f9bc60;
  --infoGradient: linear-gradient(
    180deg,
    rgba(232, 228, 230, 1) 25%,
    rgba(213, 189, 175, 0.7987570028011204) 100%
  );
}

/* Shadow */
:root {
  --shadow: 0 0 10px var(--black);
  --text: 0 0 6px rgba(245, 245, 245, 0.452);
}
