@import "@/app/globals";

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: $s 0;
    background: $white;

    ul {
        @include rowCenter();
        gap: $s;
    }
}
